<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/stars.css" />
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= campground.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">
          Username: <%= campground.author.username %>
        </li>
        <li class="list-group-item">$<%= campground.price %>/night</li>
      </ul>
      <% if (currentUser && campground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser) { %>
    <h2>Review</h2>
    <form
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div>
        <!-- <label class="form-label" for="rating">Rate</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
        /> -->
        <fieldset class="starability-basic">
          
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            checked
            value="1"
          />
          <label for="first-rate1" title="1">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="2">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="3">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="4">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="5">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Comments</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Post</button>
    </form>
    <% } %> <% for (let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <!-- <h3>Rated element name</h3> -->
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>
        <!-- <h6 class="card-subtitle mb-2 text-muted">
          <%= review.author.username %>
        </h6> -->
        <p class="card-text">Comment: <%= review.body %></p>
        <% if (currentUser && review.author.equals(currentUser._id)) { %>

        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">DELETE</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
